@model List<Setting>
@{
    int count = 0;
}
<div class="card-body">
    <div class="table-responsive">
        <a asp-action="Create"><div class="btn btn-success">Create</div></a>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Setting item in Model)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                        <td>
                            <form asp-action="Edit" asp-route-id="@item.Id">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>