@model CreateCrudVM
<div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
    <form  method="post">
        <input asp-for="Title" placeholder="Title" class="tm-input">
        <input asp-for="Description" placeholder="Description" class="tm-input">
        <input asp-for="IconUrl" placeholder="IconUrl" class="tm-input">
        <button type="submit" class="btn tm-btn-submit">Submit</button>
    </form>
</div>